<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- <InputFile>
    This expects a full path to mzIdentML input file. If user has not specified 
    input file as a arguement, software will read input file from here  -->
    <!--<InputFile>/Users/sureshhewapathirana/Documents/Projects/ResearchProject/TestData/mzidentml-example.mzid</InputFile>-->
    <!--<InputFile>/Users/sureshhewapathirana/Documents/Projects/ResearchProject/TestData/PeptideShaker_mzid_1_2_example.mzid</InputFile>-->
    <!--<InputFile>/Users/sureshhewapathirana/Documents/Projects/ResearchProject/TestData/ExampleMod.mzid</InputFile>-->
     <!--<InputFile>/Users/sureshhewapathirana/Desktop/Tutorial.mzid</InputFile>-->
     <InputFile>/Users/sureshhewapathirana/Downloads/Galaxy8-[ProteoGrouper_on_data_7].mzid</InputFile>
    <!--<InputFile>/Users/sureshhewapathirana/Documents/Projects/ResearchProject/TestData/Galaxy36.mzid</InputFile>-->
    
     <!-- This expects a full path to output file of proteins. Output is saves as
    a JSON file.-->
    <OutputFilePath>/Users/sureshhewapathirana/Documents/Projects/ResearchProject/mzIdentMLViewer/galaxy/config/plugins/visualizations/protviewer/static/data/</OutputFilePath>
    <!--<OutputFilePath>/Users/sureshhewapathirana/Documents/Projects/ResearchProject/ProViewer/galaxy/database/job_working_directory/</OutputFilePath>-->

    <!-- This expects a boolean value to enable/disable multi-treading functionality.
    Defaut value is true(enable MultiThreading)  -->
    <MultiThreading>true</MultiThreading>
</config>
